[submodule "deps/riker"]
	path = deps/riker
	url = https://github.com/angelhof/riker.git
	branch = eric-custom-db-store
[submodule "deps/pash"]
	path = deps/pash
	url = https://github.com/binpash/pash.git
	branch = spec_future
[submodule "deps/try"]
	path = deps/try
	url = https://github.com/binpash/try.git
