include LICENSE
include README.md
include requirements.txt
include hs
include pash-spec.sh
include setup.py
graft binpash_hs
graft scheduler
graft preprocessor
graft executor
graft jit_runtime
graft test
include deps/try/try
include deps/try/LICENSE
include deps/try/README.md
include deps/try/STYLE.md
recursive-include deps/try/utils Makefile README.md *.c *.h
prune paper-hs-sosp24
prune artifact
prune python_pkgs
prune report
prune dist
prune build
prune deps/try/.github
prune deps/try/completions
prune deps/try/docs
prune deps/try/man
prune deps/try/scripts
prune deps/try/test
prune .venv
prune python_hs/.venv
prune test/output_bash
prune test/output_orch
prune test/results
exclude deps/try/.git
exclude deps/try/.gitignore
exclude deps/try/Vagrantfile
global-exclude __pycache__/*
global-exclude *.py[cod]
global-exclude *.o
global-exclude fd_util
global-exclude set-diff
global-exclude try-commit
global-exclude try-summary
global-exclude .git
global-exclude .gitignore
global-exclude .DS_Store
global-exclude *~
